# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    Python
    - R
    - Juliya
    - Java
    - C++
    - Scala
      
      ....

Some of the commonly used libraries used by Data Scientists include: Pandas - Numpy - Matplotlib- Scikit-learn -carot

In [2]:
import pandas as pd

In [3]:
pd.DataFrame({"Data Science Tools":["Anaconda","Jupyter Notebook","Google Colab", "Rstudio", "Jupyter Lab", "IBM Watson Studio"]})

  Data Science Tools
0           Anaconda
1   Jupyter Notebook
2       Google Colab
3            Rstudio
4        Jupyter Lab
5  IBM Watson Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print hours)

3.3333333333333335

# Objectives:

List popular languages for Data Science

Arithmethics(Adding numbers)

list of Data Science Languages

Creating a table of tools

## Author

Mitra Jalal Shokuhi